<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- 	<typeAliases> -->
<!-- 		<typeAlias type="com.ktds.vo.MemberVO" alias="MemberVO" /> -->
<!-- 	</typeAliases> -->


	<mappers>
		<mapper resource="com/ktds/member/dao/sql/memberDao.xml" />
		<mapper resource="com/ktds/board/dao/sql/boardDao.xml" />
		<mapper resource="com/ktds/chart/dao/sql/chartDao.xml" />
	</mappers>
 
</configuration>
      